{
  "printWidth": 90,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 4,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
